{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>GPT Music</h1>
    <h3 align="center">Welcome to GPT Music</h3>
    <form action="/result/" method="POST">
        {% csrf_token %}
        Genre:
        <br>
        <input id="genre" type="text" name="genre" value="{{ current_genre }}">
        <br>
        Question:
        <br>
        <input id="question" type="text" name="question" value="{{ current_question }}">
        <br>
        <hr>
        <input type="submit" value="OK">
    </form>
    <br>
    <hr>
    <p>Result:{{result}}</p>
    <br>
    <hr>

</div>

{% endblock %}
